body {
    font-family: $font-family;
    background-color: $bg-light-gray !important;
    color: $brand-grey;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.2s ease-in-out;
    margin: 0;
    padding: 0;

    p {
        font-weight: lighter !important;
        font-size: $body-font;
    }

    a {
        text-decoration: none !important;
        &:hover, &:focus, &:active {
            text-decoration: none !important;
        }
    }

    h3 {
        @include media-breakpoint-down(sm) {
            font-size: 1.5rem;
        }
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .bd-radius {
        border-radius: 50%;
    }

    .m {
        &t-60 {
            margin-top: 60px
        }
    }

    .p {
        &y-100 {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        &-10-15 {
            padding: 10px 15px;
        }
        &b-100 {
            padding-bottom: 100px;
        }
        &y-12 {
            padding: 12px 0;
        }
        &b {
            &-6 {
                padding-bottom: 3.5rem;
            }
            &-md-6 {
                @include media-breakpoint-up(md) {
                    padding-bottom: 3.5rem;
                }
            }
        }
    }
}

.ht-100v {
    height: 100vh;
}

.d-content-center {
    flex-direction: column;
    display: flex;
    justify-content: center;
}