// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~pg-calendar/dist/css/pignose.calendar.min.css";
@import "~timepicker/jquery.timepicker.min.css";

// Variables
@import 'core/variables';
@import "core/layout";

// Mixins
@import "mixins";

// Pages
@import "pages/booking";
@import "pages/login";

// Components
@import "components/background";
@import "components/font";
@import "components/card";
@import "components/text";
@import "components/button";
@import "components/form";
