.bg {
    &-image {
        //height: 100vh;
        width: 100%;
        background-size: cover !important;
        background: radial-gradient(rgba(0, 0, 0, 0.25) 100%,
                rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 37%),
                url(../../img/bgimg.jpg) no-repeat center center;
    }

    &-cover {
        background-color: rgba(17, 17, 17, 0.65);
        height: 100vh;
        width: 100%;
        position: absolute;
        opacity: 0.7;
    }
}