.btn {
    color: $white;
    font-size: 14px !important;
    padding: 10px !important;
    margin-bottom: 15px !important;
    border-radius: 0 !important;
    transition: all .5s;

    &-brand-outline-pry {
        border: solid 2px $brand-gray;
        color: $brand-gray;
        &:hover {
            background-color: $brand-primary;
            color: $white !important;
            border-color: $brand-primary;
        }
    }

    &-brand-primary {
        background-color: $brand-primary;
        border-color: $brand-primary;
        &:hover {
            color: $white;
            background-color: darken($brand-primary, 10%);
            border-color: darken($brand-primary, 10%);
        }
    }

    &-wd-100 {
        width: 100% !important;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &:focus, &:active, &:hover {
        outline: none !important;
        box-shadow: none !important;
    }
}