.btn {
    color: $white;
    font-size: 14px !important;
    padding: 10px 20px !important;
    border-radius: 0 !important;
    transition: all .5s;
    box-shadow: 0.5rem 0.5rem 1rem rgba(32, 107, 199, 0.2);

    &-action {
        padding: 5px 10px !important;
    }

    &-brand-outline-pry {
        border: solid 2px $brand-gray;
        color: $brand-gray;
        &:hover {
            background-color: $brand-primary;
            color: $white !important;
            border-color: $brand-primary;
        }
    }

    &-outline {
        &-info {
            color: $info !important;
            &:hover {
                color: $white !important;
            }
        }
        &-danger {
            color: $danger !important;
            &:hover {
                color: $white !important;
            }
        }
        &-success {
            color: $success !important;
            &:hover {
                color: $white !important;
            }
        }
        &-warning {
            color: $warning !important;
            &:hover {
                color: $white !important;
            }
        }
    }

    &-brand {
        &-primary {
            background-color: $brand-primary;
            border-color: $brand-primary;
            &:hover {
                color: $white;
                background-color: darken($brand-primary, 10%);
                border-color: darken($brand-primary, 10%);
            }
        }

        &-white {
            background-color: $white;
            color: $brand-primary;
            &-outline {
                border: 1px solid $white;
                color: $white;
                background: transparent;
                &:hover {
                    background-color: $white;
                    color: $brand-primary;
                }
            }
            &:hover {
                background-color: transparent;
                color: $brand-primary;
                border: 1px solid $brand-primary;
            }
        }
    }

    &-pd {
        padding: 9px 13px !important;
    }

    &-unset-rd {
        border-radius: 0.25rem !important;
    }

    &-wd-100 {
        width: 100% !important;
    }

    &:focus, &:active, &:hover {
        outline: none !important;
        box-shadow: none !important;
    }

    &-gray {
        background-color: #ddd;
        color: #0e0e0e;
        border: 1px solid #bbb;
        font-size: 10px;
        box-shadow: unset !important;
        &:hover {
            background-color: darken(#ddd, 10%);
        }
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $disabled;
        color: $brand-grey;
        border-color: $disabled;
        opacity: 0.65;
        &:hover {
            color: $brand-grey !important;
        }
    }
}

//Alert
.alert {
    &-brand {
        &-primary {
            background-color: lighten($brand-primary, 20%);
        }
    }
}
