.btn {
    //font-weight: 600 !important;
    //letter-spacing: 1px;
    //border: none;
    //font-size: 11px;
    //margin-bottom: 0;
    //text-transform: uppercase;
    //box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12) !important;
    //transition: all .5s !important;

    &-schedule {
        font-size: 14px;
        border: solid 2px #646363;
        width: 240px;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 0;
        transition: all .5s;
        &:hover {
            background-color: $brand-primary;
            color: $white;
            border-color: $brand-primary;
        }
    }

    &-wd-100 {
        width: 100% !important;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &:focus, &:active, &:hover {
        outline: none !important;
        box-shadow: none !important;
    }
}