.card {
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: $white;
    border: none;
    border-radius: 8px !important;
    transition: transform .3s;
    &-table {
        padding: 0 !important;
    }

    &-zoom:hover {
        transform: scale(1.1);
    }

    &.customer {
        &:hover {
            box-shadow: unset;
        }
    }
    &-image-width {
        @include media-breakpoint-up(lg) {
            width: 50% !important;
        }
    }
    &-height {
        @include media-breakpoint-up(lg) {
            height: 400px;
        }
        @include media-breakpoint-only(md) {
            height: 500px;
        }
    }

    &-height-350 {
        @include media-breakpoint-up(lg) {
            height: 350px;
        }
        @include media-breakpoint-only(md) {
            height: 450px;
        }
    }

    &-scale {
        border-bottom: 4px solid $brand-off-white;
        transition: all .5s;
        &:hover {
            margin-top: -10px;
        }
        &.bg-lg {
            border-bottom: 4px solid lighten($brand-primary, 10%) !important;
        }
    }

    &-form {
        &__wrapper {
            .form-group {
                margin-bottom: 20px !important;
                .checkbox {
                    input {
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
            }
        }
        &__label {
            font-weight: bold;
            margin-bottom: 4px !important;
            text-transform: uppercase;
            display: block;
            font-size: 12px;
        }
        &__input {
            color: $brand-grey !important;
            font-size: 12px !important;
            &:focus {
                border-color: $dark !important;
                box-shadow: none !important;
            }
            &.error {
                border-color: $red;
            }
            &.valid {
                border-color: $green;
            }
        }
    }

    &__title {
        border-bottom: 1px solid $brand-accent;
        margin-bottom: 0.5rem;
    }
    &__icon {
        &.blue {
            color: $blue;
        }
        &.pink {
            color: $pink;
        }
        &.green {
            color: $green;
        }
        &.orange {
            color: $orange;
        }
        &.indigo {
            color: $indigo;
        }
    }

    &-dashboard {
        .card {
            padding: 16px !important;
        }
        &-text {
            display: flex;
            align-items: flex-end;
        }

        &-icon {
            font-size: 24px;
            height: 48px;
            width: 48px;
            border-radius: 24px;
            text-align: center;
            line-height: 48px;
            &.pink {
                color: $pink;
                background-color: lighten($pink, 20%);
            }
            &.gray {
                color: $brand-gray;
                background-color: lighten($brand-gray, 50%);
            }
            &.green {
                color: $green !important;
                background-color: lighten($green, 30%);
            }
            &.indigo {
                color: $indigo !important;
                background-color: lighten($indigo, 30%);
            }
        }
    }
}

label {
    margin-bottom: unset !important;
    &.error {
        font-size: 12px;
        color: $red;
    }
}

textarea.card-form__input {
    resize: none;
}