.fs {
    &-header {
        font-size: $header-font - 10px !important;
        @include media-breakpoint-up(md) {
            font-size: $header-font !important;
        }
    }
    &-icon-check {
        font-size: 90px;
    }
    &-20 {
        font-size: 20px;
    }
    &-60 {
        font-size: 60px;
    }
    &-50 {
        font-size: 50px;
    }
    &-18 {
        font-size: 18px;
    }
    &-12 {
        font-size: $sub-menu-font
    }
    &-28 {
        font-size: 28px;
    }
    &-10 {
        font-size: 10px;
    }
    &-16 {
        font-size: 16px;
    }
    &-22 {
        font-size: 22px;
    }
}