.form {
    &-control {
        padding: 1.3rem 1rem !important;
    }

    &_wrapper {
        .fa-clock-o, .fa-calendar {
            position: absolute;
            right: 0;
            line-height: 2.3;
            padding-right: 28px;
            color: #7e7c7c;
            font-size: 20px;
        }
    }
}