.form {
    &-control {
        padding: 1.3rem 1rem !important;
    }

    &_wrapper {
        .fa-clock-o, .fa-calendar {
            @include iconRight(28px, 2.3)
        }
    }

    &_available {
        .fa-calendar {
            @include iconRight(45px, 4.3);
        }
    }

    &_search {
        .fa-search{
            @include iconRight(44px, 2.3);
        }
    }
}