.main-sidebar {
    width: $sidebar-width;
    min-height: 100vh;
    position: fixed;
    transition: all .5s ease-in-out;
    background-color: $brand-gray;
    overflow-x: hidden;
    transform: translateX(-$sidebar-width);
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42);

    @include media-breakpoint-up(md) {
        transform: translateX(0);
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            position: relative;
            display: block;
            a, div {
                position: relative;
                display: block;
                padding: 14px 0;
                &:hover, &:focus {
                    color: $brand-primary;
                }
            }
        }
    }

    .side-menu li {
        &:first-child {
            margin-top: 32px;
        }

        a, div {
            color: $white !important;
            text-align: center;
            white-space: nowrap;
            overflow-x: hidden;
            text-decoration: none;

            span .fa {
                font-size: 12px;
            }
        }

        .icon {
            display: inline-block;
            text-align: center;
            font-size: $header-font;
        }

        .nav-label {
            display: block;
            text-align: center;
            font-size: $body-font;
            transition: color .15s ease-in-out;
        }
    }

    .sub-menu {
        background-color: darken($brand-gray, 10%);

        &__items {
            font-size: $sub-menu-font;
            a {
                padding: 10px 0 !important;
            }
        }
    }
}

.sidebar-open {
    @include media-breakpoint-down(am) {
        .main-sidebar {
            transform: translateX(0);
        }

        .content-wrapper {
            transform: translateX($sidebar-width);
        }
    }
}

.sidebar-collapsed {
    transition: all .5s ease-in-out;
    @include media-breakpoint-up(md) {
        .main-sidebar {
            width: 60px !important;
            .nav-label {
                display: none !important;
            }
        }
        .sidebar {
            width: 60px !important;
        }
        .content-wrapper {
            margin-left: 60px !important;
        }
        .custom-navbar {
            margin-left: 60px !important;
        }
    }
}
