.custom-navbar {
    padding: 0;
    height: $custom-navbar-height;
    margin-left: 0;
    transition: all .5s ease-in-out;

    @include media-breakpoint-up(md) {
        margin-left: $sidebar-width;
    }

    &__logo {
        img {
            height: 26px;
        }
    }

    &__menu-bar {
        @include media-breakpoint-up(md) {
            transition: all 1s ease-in-out;
        }
    }

    &__sidebar-toggle {
        margin-left: 32px;
        font-size: 26px;
        color: $brand-gray;
        cursor: pointer;
    }
}

@include media-breakpoint-down(sm) {
    .nav-text {
        display: none;
    }
}
