.table {
    .field-name {
        text-transform: uppercase;
        font-size: $body-font - 2px;
        padding: 0.7rem !important;
        border-top: none !important;
    }
    td {
        font-size: $body-font - 2px !important;
    }
    @include media-breakpoint-down(md) {
        &#admin_td td {
            min-width: 100px;
            &:first-child {
                min-width: unset;
            }
        }
    }
}

//Status
.status {
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 12px;
    &-pending {
        color: darken($gold, 10%);
        background-color: lighten($gold, 30%);
    }
    &-active {
        color: darken($success, 10%);
        background-color: lighten($success, 30%);
    }
    &-confirm {
        color: darken($info, 10%);
        background-color: lighten($info, 30%);
    }
}

//.pagination li {
//    margin: 0 10px 0 0;
//    padding: 0;
//    display: inline-block;
//}
//
//.pagination li a {
//    display: block;
//    padding: 10px 15px;
//    background-color: rgba(85, 85, 85, .1);
//    color: rgb(218, 72, 39);
//    text-decoration: none;
//    border-radius: 27px;
//}
//
//.pagination li.active a {
//    color: rgb(255, 255, 255);
//    background-color: $brand-primary;
//    font-weight: 700;
//}

//Pagination
.pagination {
    margin-top: 10px !important;
    float: right;

    .page {
        &.activeLink a {
            z-index: 2;
            color: $white;
            background-color: $brand-primary;
            border-color: $border-color;
        }
        &.disabled a {
            color: #868e96;
            pointer-events: none;
            background-color: $white;
            border-color: $brand-off-white;
        }
    }

    a {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: $brand-primary;
        background-color: $white;
        border: unset !important;
        &:focus, &:hover {
            color: darken($brand-primary, 10%);
            text-decoration: none;
            background-color: #e9ecef;
            border-color: $brand-off-white;
            box-shadow: unset !important;
        }
    }
}

//Empty State
.empty-state {
    min-height: 300px;
    padding: 30px 0 20px;
    text-align: center;
    &.order {
        min-height: 0 !important;
        padding: 20px 0 20px;
    }

    &__icon {
        display: inline-block;
        width: 170px;
        height: 170px;
        margin: 0 auto;
        padding: 38px 0;
        font-size: 80px !important;
        line-height: 1;
        border-radius: 50%;
        border: 2px solid $brand-grey;
        &.icon-grey {
            color: #999;
            border: 2px solid #ccc;
        }
        &.icon-success {
            color: $success;
            border: 2px solid $success;
        }
        &.icon-danger {
            color: $red;
            border: 2px solid $red
        }
    }

    &__description {
        font-size: 18px;
        line-height: 1.3333333;
        color: #666;
    }
}
