.nav-tabs {
    border-bottom: 1px solid transparent !important;
    .nav {
        &-item {
            .nav-link {
                border: 1px solid #bbb;
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
                color: $brand-gray !important;
            }
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
        &-link.active {
            color: $white !important;
            background-color: $brand-primary !important;
            border-color: $brand-primary !important;
        }
    }
}
