.text {
    &-brand-primary {
        color: $brand-primary;
    }
    &-gray {
        color: $brand-grey !important;
    }
    &-underline {
        text-decoration: underline;
    }

    &-success {

    }
}